@model najdiPrevoz.Models.Reservation

@{
    ViewBag.Title = "SuccesfullReservation";
}

<h2>You've made a successfull reservation request.
    Now you need to wait for a call from the driver to finalize your reservation. </h2>

